variables:
  NAMESPACE_APP: pj-devops
  NAMESPACE_MON: monitoring
  RELEASE_NAME: django-app
  REGISTRY_REPOSITORY: $RELEASE_NAME
  DOCKERFILE_PATH: $CI_PROJECT_DIR/Dockerfile
  CONTAINER_IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
#  DOCKER_REGISTRY: $CI_REGISTRY
#  DOCKER_USER: $CI_DEPLOY_USERNAME
#  DOCKER_PASSWORD: $CI_DEPLOY_TOKEN

stages:
#  - build
#  - deploy
  - mon-install

services:
  - name: docker:18.09.7-dind
    alias: docker
    command: ["--tls=false"]

#build:
#  stage: build
#  image:
#    name: gitlab/dind

#  script:
#    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
#    - docker build -t $CONTAINER_IMAGE_NAME .
#    - docker push $CONTAINER_IMAGE_NAME

#deploy:
#  stage: deploy
#  image:
#    name: dtzar/helm-kubectl:3.10.1

#  before_script:
#    - kubectl delete namespaces ${NAMESPACE_APP}
#    - kubectl delete pv pv-db
#    - kubectl create namespace ${NAMESPACE_APP}
##    - kubectl --namespace=${NAMESPACE} create secret docker-registry gitlab-auth --docker-server=${DOCKER_REGISTRY} --docker-username=${DOCKER_USER} --docker-password=${DOCKER_PASSWORD} --docker-email=puller@mail.com
#    - kubectl create secret docker-registry gitlab-auth --docker-server=registry.gitlab.com --docker-username=k8s-puller --docker-password=CsMfRaTjg_r8_AnNaDWA -n pj-devops --dry-run=client -o yaml | kubectl apply -f -
#  script:
#    - helm upgrade myapp helm-chart --install --namespace ${NAMESPACE_APP}

mon-install:
  stage: mon-install
  image:
    name: dtzar/helm-kubectl:3.10.1

  before_script:
#    - kubectl delete namespace ${NAMESPACE_MON}
    - kubectl create namespace ${NAMESPACE_MON}

  script:
    - kubectl create -f monmanifests/kubernetes-node-exporter/daemonset.yaml
    - kubectl create -f monmanifests/kubernetes-node-exporter/service.yaml