variables:
  NAMESPACE: pj-devops
  RELEASE_NAME: django-app
  REGISTRY_REPOSITORY: $RELEASE_NAME
  DOCKERFILE_PATH: $CI_PROJECT_DIR/Dockerfile
  CONTAINER_IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
  TAG: develop

stages:
  - build
  - deploy

services:
  - docker:dind

build:
  stage: build
  image:
   name: docker:latest

  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
   # - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CONTAINER_IMAGE_NAME .
   # - docker push registry.gitlab.com/pj-devops/django-app:$TAG_COMMIT
    - docker push $CONTAINER_IMAGE_NAME
  only:
    - master

deploy:
  stage: deploy
  image:
    name: dtzar/helm-kubectl
    entrypoint: [""]
      -