variables:
  NAMESPACE: pj-devops
  RELEASE_NAME: django-app
  REGISTRY_REPOSITORY: $RELEASE_NAME
  DOCKERFILE_PATH: $CI_PROJECT_DIR/Dockerfile
  CONTAINER_IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

#  TAG: develop

stages:
#  - build
  - deploy

services:
  - name: docker:18.09.7-dind
    alias: docker
    command: ["--tls=false"]

#build:
#  stage: build
#  image:
#   name: gitlab/dind

#  script:
#    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
#   # - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
#    - docker build -t $CONTAINER_IMAGE_NAME .
#   # - docker push registry.gitlab.com/pj-devops/django-app:$TAG_COMMIT
#    - docker push $CONTAINER_IMAGE_NAME

deploy:
  stage: deploy
  image:
    name: dtzar/helm-kubectl:3.10.1

  before_script:
#    - kubectl delete namespaces pj-devops
    - kubectl create secret docker-registry gitlab-auth --docker-server=$CI_REGISTRY --docker-username=$CI_DEPLOY_USERNAME --docker-password=$CI_DEPLOY_TOKEN --docker-email=puller@mail.com

  script:
    - kubectl create namespace pj-devops
    - helm upgrade myapp helm-chart --install --namespace pj-devops

#    - |
#       helm install --namespace $NAMESPACE \
#                   --set TAG=$CI_COMMIT_REF_NAME \
#                    --recreate-pods --timeout 600s -atomic \
#                    --install $REALISE_NAME helm-chart

