apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  labels:
    app: app
    component: myapp

spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: app
      component: myapp
#  strategy:
#    type: Recreate
  template:
    metadata:
      labels:
        app: app
        component: myapp
    spec:
#      volumes:
#        - name: app-volume
#          persistentVolumeClaim:
#            claimName: app-pvc
      containers:
        - name: app
          image: {{ index .Values.containerApp.image }}
#          volumeMounts:
#            - name: app-volume
#              mountPath: /app
#          args:
          command:
            - sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:3003"
          env:
            - name: DB_HOST
              value: db
            - name: DB_NAME
              value: tutorial-dev
            - name: DB_PASS
              value: password
            - name: DB_USER
              value: vinhle
          ports:
           - containerPort: 3003
#         resources: {}
      imagePullSecrets:
        - name: gitlab-auth
#      restartPolicy: Always
      nodeName: app
#status: {}
