apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  labels:
    app: app
    component: myapp

spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: app
      component: myapp
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: app
        component: myapp
    spec:
      containers:
        - args:
            - sh
            - -c
            - python manage.py migrate && python manage.py runserver 0.0.0.0:3003
          env:
            - name: DB_HOST
              value: db
            - name: DB_NAME
              value: tutorial-dev
            - name: DB_PASS
              value: password
            - name: DB_USER
              value: vinhle
          image: {{ index .Values.containerApp.image }}
          name: app
          ports:
            - containerPort: 3003
          resources: {}
          volumeMounts:
            - mountPath: /app
              name: local-storage
#             name: app-claim0
      restartPolicy: Always
      volumes:
        - name: local-storage
#        - name: app-claim0
          persistentVolumeClaim:
            claimName: app-claim0
status: {}
